.container {
  position: relative;
  width: 50%;
  margin-left: 50%

}

.image {
  display: block;
  width: 60%;
  height: 80%;
  
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgb(250, 119, 5);
  overflow: hidden;
  width: 60%;
  height:0;
  transition: .5s ease;
  margin-left: 59%;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}